.contenedor {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: solid black 5px;
    opacity: 0.88;
    height: 58vh;
}

h3 {
    text-align: center;
    padding: 5px;
}

.subidas {
    background-color:green;
    width: 50%;
    height: 100%;
}

.bajadas {
    background-color: red;
    width: 50%;
    height: 100%;
}

.registro-list-registro-card {
    background-color: greenyellow !important;
    color: red;
}
