


<div class="subidas">

    <section>
        <h3>SUBIDAS</h3>
        
        <article class="cabecera">
            <p>FECHA</p>
            <p>EMPRESA</p>
            <p>APERTURA</p>
            <p>MAX</p>
            <p>MIN</p>
            <p>CIERRE</p>
            <p>VARIACIÓN</p>
            <P>PORCENTAJE</P>
        </article>

        <app-registro-list [arrRegistros]="arrSubidas"></app-registro-list>
    </section>

</div>


<div>

    <section class="bajadas">
        <h3>BAJADAS</h3>

        <article class="cabecera">
            <p>FECHA</p>
            <p>EMPRESA</p>
            <p>APERTURA</p>
            <p>MAX</p>
            <p>MIN</p>
            <p>CIERRE</p>
            <p>VARIACIÓN</p>
            <P>PORCENTAJE</P>
        </article>

        <app-registro-list [arrRegistros]="arrBajadas"></app-registro-list>
    </section>

</div>




