.contenedor {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: solid black 5px;
    opacity: 0.88;
    height: 58vh;
}

h3 {
    text-align: center;
    padding: 5px;
}

.subidas {
    background-color:green;
    width: 50%;
    height: 100%;
}

.bajadas {
    background-color: rgb(172, 2, 2);
    width: 50%;
    height: 100%;
}

section.subidas app-registro-list {
    background-color: greenyellow !important;
    /* color: red; */
    & article {
        background-color: greenyellow !important;
        align-items: flex-end;
        flex-wrap: wrap;
    }
}

section.bajadas app-registro-list {
    background-color: greenyellow !important;
    /* color: red; */
    & article {
        background-color:rgb(247, 10, 10) !important;
        flex-wrap: wrap;
        border-radius: 80px;
        width: 30%;
        padding: 20px 5px;
        margin: 20px auto;
        & p {
            color: yellow;
            gap: 10px;
            
        }
    }
}
