


<div class="contenedor">

    <section class="intervalo">
        <app-desplegable-intervalo [arrIntervalos]="listaIntervalos" (elegidoIntervalo)="intervaloSeleccionado($event)"></app-desplegable-intervalo>
    </section>

    <section class="subidas">
        <h3>SUBIDAS</h3>       

        <app-registro-list [arrRegistros]="arrSubidas"></app-registro-list>
    </section>



    <section class="bajadas">
        <h3>BAJADAS</h3>        

        <app-registro-list [arrRegistros]="arrBajadas"></app-registro-list>
    </section>

</div>




