<!-- <p>{{subidaPintar}}</p> -->

<p>Empresa: {{subidaPintar[0]}}</p>
<p>Rango subidas:</p>
<p>{{subidaPintar[1]}}</p>
<p>{{subidaPintar[2]}}</p>

<p *ngIf="subidaPintar.length == 5">Rango de fechas:</p>
<p *ngIf="subidaPintar.length == 5">{{subidaPintar[3]}}</p>
<p *ngIf="subidaPintar.length == 5">{{subidaPintar[4]}}</p>

<p *ngIf="subidaPintar.length == 7">{{subidaPintar[3]}}</p>
<p *ngIf="subidaPintar.length == 7">Rango de fechas:</p>
<p *ngIf="subidaPintar.length == 7">{{subidaPintar[4]}}</p>
<p *ngIf="subidaPintar.length == 7">{{subidaPintar[5]}}</p>
<p *ngIf="subidaPintar.length == 7">{{subidaPintar[6]}}</p>

<p *ngIf="subidaPintar.length == 9">{{subidaPintar[3]}}</p>
<p *ngIf="subidaPintar.length == 9">{{subidaPintar[4]}}</p>
<p *ngIf="subidaPintar.length == 9">Rango de fechas:</p>
<p *ngIf="subidaPintar.length == 9">{{subidaPintar[5]}}</p>
<p *ngIf="subidaPintar.length == 9">{{subidaPintar[6]}}</p>
<p *ngIf="subidaPintar.length == 9">{{subidaPintar[7]}}</p>
<p *ngIf="subidaPintar.length == 9">{{subidaPintar[8]}}</p>

<p *ngIf="subidaPintar.length == 11">{{subidaPintar[3]}}</p>
<p *ngIf="subidaPintar.length == 11">{{subidaPintar[4]}}</p>
<p *ngIf="subidaPintar.length == 11">{{subidaPintar[5]}}</p>
<p *ngIf="subidaPintar.length == 11">Rango de fechas:</p>
<p *ngIf="subidaPintar.length == 11">{{subidaPintar[6]}}</p>
<p *ngIf="subidaPintar.length == 11">{{subidaPintar[7]}}</p>
<p *ngIf="subidaPintar.length == 11">{{subidaPintar[8]}}</p>
<p *ngIf="subidaPintar.length == 11">{{subidaPintar[9]}}</p>
<p *ngIf="subidaPintar.length == 11">{{subidaPintar[10]}}</p>


