section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

article {
    /* width: 30%; */
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: solid black 3px;
    background-color: white;  
    opacity: 1;     
}


#longitud {
    width: 100%;
}

app-subida-card {
    align-items: center;
    justify-content: center;
}