


<article class="registro">
    <p class="campo">{{registroMostrar.fecha | date: 'yyyy/MM/dd'}}</p>
    <p class="campo">{{registroMostrar.empresa}}</p>
    <p *ngIf="registroMostrar.valor_apertura" class="campo">{{registroMostrar.valor_apertura}}</p>
    <p *ngIf="registroMostrar.max" class="campo">{{registroMostrar.max}}</p>
    <p *ngIf="registroMostrar.min" class="campo">{{registroMostrar.min}}</p>
    <p *ngIf="registroMostrar.valor_cierre" class="campo">{{registroMostrar.valor_cierre}}</p>
    <p *ngIf="registroMostrar.variacion_neta" class="campo">{{registroMostrar.variacion_neta}}</p>
    <p class="campo">{{registroMostrar.variacion_porcentaje | number}}</p>
</article>
